[2021-01-06 15:04] Distractic opened #15 "Paginator: Exception after the end of a timeout"
# Paginator: Exception with the timeout

## Problem

When you create a _Paginator_ with a _timeout_ value and several pages (in order to get the deletion reaction).

[code]

When a user deletes the Paginator with the delete reaction and after this event the end of the timeout is activated, it creates an exception in the console.

### Paginator in Discord

![image](https://user-images.githubusercon

[2021-01-06 15:20] Distractic opened #16 "Paginator: Add event to new reaction"
## Explication

During the creation of a _Paginator_, it is not possible to simply add a reaction with an event.
A feature to solve this problem is a method similar to :

[code]
And the event has a signature similar to :
[code]

## Suggestion

In _Paginator_, it is necessary to replace :
[code]
by
[code]
and all events with each emoji will placed in this map

[2021-01-18 10:42] bosukas opened #19 "Add method to ExtensibleBot to allow us to configure kord's cache"
# Summary

Could we have a method for configurating Kord's cache?
This is useful for when people want to turn off the caching of certain objects or when they want to register their own objects to cache.

# Current Behaviour

At the moment, we can only choose how many messages to cache, using messageCacheSize
We could use DataCache#register however this is limited, as it doesn't let us configure th

[2021-01-18 17:34] bosukas opened #20 "Add a new converter type, 'Union Converter'"
# Summary

I think a new `Union Converter` would be useful for some people. The idea is that it will allow for different types of arguments in the same parameter

An example of what I'm talking about can be seen [here](https://discordpy.readthedocs.io/en/latest/ext/commands/commands.html#typing-union) in discord.py.

Here, they have a parameter called `what`, which can either be a `discord.TextCha

[2021-01-28 11:32] gdude2002 commented on #15
Fixed in https://github.com/Kord-Extensions/kord-extensions/commit/e352598a1a7e1354eb3a775c1e61b66cc5c0410e

[2021-01-28 11:32] #15 closed, assigned to nobody

[2021-01-28 11:36] gdude2002 commented on #19
I think this issue would be better served with a builder for creating and configuring the ExtensibleBot class. I've been meaning to do this for a while, so I think I'll roll this issue's change into that changeset.

[2021-01-28 12:00] bosukas commented on #19
Either way works, I would just like to see something for configuring cache, thank you

[2021-01-28 13:04] gdude2002 commented on #19
Fixed in https://github.com/Kord-Extensions/kord-extensions/commit/4e5aba04bff8e3c410881f647f6bab29148ec50f

[2021-01-28 13:04] #19 closed, assigned to nobody

[2021-01-28 15:38] gdude2002 commented on #20
I've added a very experimental union converter. Please give it a go and see what happens.

[2021-01-28 16:07] gdude2002 commented on #16
I'm not 100% sure how well this would fit into the workflow of a paginator at the moment. I feel like this might be more sensible as a more generic interface - like, for example, live messages - which you can listen for events for already. Furthermore, I'm not sure adding this functionality to the _current_ paginator makes sense. This seems like an entirely separate concept, some kind of... reacta

[2021-01-28 16:07] #16 closed, assigned to nobody

[2021-02-05 12:40] gdude2002 commented on #20
How has this been working out for you?

[2021-02-06 21:38] bosukas commented on #20
So far, its been working fine, I haven't ran into anything yet, although I've been a little busy these past couple of days, so I haven't played around with it too much.
I think the only thing would be generating a proper signature, maybe by joining the display names of the different converters together with '|', instead of having us write a type name for it.

[2021-02-07 20:04] bosukas commented on #20
I've been playing around with it a bit more.
I think that it would make more sense that the converter should catch any error while converting and ignore it, and then if 'shouldThrow' is true, it would give an error saying it couldn't convert the argument into x, y or z. If 'shouldThrow' is false, then it should just return that 0, as it consumed 0 arguments.
I think this would be better as if the

[2021-02-08 12:34] gdude2002 commented on #20
Okay, I've made both sets of changes. In fact, if a converter throws, it'll simply try to move onto the next one if `shouldThrow` is `false` - I think that better matches the intended behaviour of this converter.

[2021-02-12 01:08] gdude2002 opened #22 "Message converter optionally using reply"
It might be useful to allow the message converter to be configured to use a replied-to message as an argument instead of getting the message from the command arguments. However, there are some considerations to think about:

* Converters are not currently aware of their context
* There is no way for a converter to signal that it managed to fill its argument without consuming any strings
* Slash co

[2021-02-12 01:08] gdude2002 commented on #22
Now you listen here, bot...

[2021-02-18 13:36] bosukas opened #23 "Use generics for ExtensibleBotBuilder"
# Summary

The bot attribute in extension classes can be overridden to support custom classes that extend ExtensibleBot.
[code]

However, when we do this we now need to use an instance of a CustomBot to create the extension, there is currently no clean way of adding this new extension with the extensions builder without casting or extending ExtensibleBotBuilder and creating your own method for it.

[2021-03-01 23:47] #22 closed, assigned to nobody

[2021-03-01 23:47] todo[bot] opened #25 "Remove/replace with usual version when we're done releasing for specific snapsho..."
https://github.com/Kord-Extensions/kord-extensions/blob/e4d5203638cc9185ac606749a6df00d7363aa2e7/kord-extensions/build.gradle.kts#L65-L72

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e4d5203638cc9185ac606749a6df00d7363aa2e7. It&#x27;s been assigned to @gdude2002 because they committed the code.

[2021-03-01 23:47] #25 closed, assigned to gdude2002

[2021-03-13 13:46] Forbidden-A opened #26 "Add an easy way to send command help from its action"
# Current Behaviour

There is no easy way to send help from a command action

[2021-03-14 11:13] gdude2002 commented on #23
Apologies for taking so long to get to this.

Can you explain what the problem is in more specific terms, and how this solves it?

My understanding of the issue is that `ExtensibleBotBuilder` assumes an instance of `ExtensibleBot`, which means that it will accept subclasses as well, [but `ExtensibleBot`'s own methods for registering extensions mean that a value of type `ExtensibleBot` will be pass

[2021-03-14 11:16] gdude2002 commented on #26
This is a little trickier to solve than it first appears, as the bot's help is provided by the bundled `HelpExtension`, which is intended to be entirely replaceable if it doesn't suit one's needs.

As I feel that it would be for the best if functionality like this _didn't_ rely on a specific implementation of the help extension being present, the best approach may be to separate the help extension

[2021-03-14 11:17] gdude2002 commented on #20
It's been over a month since we last talked about this - how is it working for you?

[2021-03-14 11:29] gdude2002 commented on #26
Actually, I just thought of an idea that may have more use-cases aside from this one - searching for a loaded extension (or a set of loaded extensions) based on type-checking. If a help extension uses a provided interface, then we can just search the loaded extensions for one that implements it.

It would be trivial for us to add an API wrapping this for extensions to send their own formatted help

[2021-03-14 14:41] gdude2002 commented on #26
A `HelpProvider` interface has been added, which needs to be implemented by all help extensions (the bundled one does this already). Additionally, the help extension has been refactored to provide a much more usable API.

This adds a `sendHelp` function to the `MessageCommandContext` objects that are bound to `this` in message command `action { }` blocks. Please try out the latest snapshot and let

[2021-03-15 17:06] bosukas commented on #23
Yeah, when you override the bot attribute in the Extension class, you then need an instance of `CustomBot` to create that Extension
[code]
[code]

However, in the `ExtensibleBotBuilder` you can only add extensions with `ExtensibleBot`, so you would have to add the extension like this:
[code]
I just feel as though that's a bit messy and can cause problems later.

After looking at the kord-extension

[2021-03-15 17:18] gdude2002 commented on #23
Not sure why you'd close an issue that needs more thought, that seems counter-productive. I think I see the problem, though - it's worth a try at least.

[2021-03-21 17:17] gdude2002 commented on #23
I did end up giving this a try a few days ago, and ran into quite a few problems. Instead of trying to solve things this way, I'm going to prioritize making it easier to do what you need without subclassing `ExtensibleBot`.

[2021-03-21 17:17] #23 closed, assigned to gdude2002

[2021-03-21 17:18] gdude2002 commented on #26
Have you had a chance to try this out yet? I'd love some feedback if so.

[2021-03-21 17:50] bosukas commented on #20
Sorry for the slow response, I thought I already replied to this  - probably didn't send or something.
I'm happy with how the converter functions right now, If I have any more suggestions or improvements for it I'll let you know on the Discord server or reply to this issue (if your still keeping it open)

[2021-03-21 17:51] gdude2002 commented on #20
Alright, good stuff - I'll close it for now, feel free to open another if needed

[2021-03-21 17:51] #20 closed, assigned to gdude2002

[2021-03-21 18:34] bosukas opened #27 "Add cooldowns to commands"
# Summary

Add a way of specifying cooldowns for commands.

# Preferred Behaviour

The interface for the cooldowns could look something like this:
[code]

[2021-03-26 22:05] gdude2002 opened #28 "Add a utility for dotenv support"
This won't be necessary for people using Docker Compose for their bots, but it should be trivial to provide an `env(var: String)` function that loads a `.env` file if one is present and loads that into the env vars, before retrieving the requested env var.

Suggested by `ppotatoo#9688` on Discord.

[2021-03-26 22:24] bosukas commented on #27
Just another idea of how this can be structured in a command
[code]

[2021-03-26 22:30] gdude2002 opened #29 "Docs: Pages not updated"
Some of the documentation is not updated. In particular, the [Getting Started page](https://kord-extensions.docs.kotlindiscord.com/getting-started/) has the old-style command/argument logic in it.

Should really do a full docs pass.

[2021-03-28 10:22] gdude2002 commented on #26
As the issue author has failed to respond in the last two weeks, I'm closing this issue under the assumption that the feature as implemented is sufficient.

If this isn't the case, open another issue.

[2021-03-28 10:22] #26 closed, assigned to gdude2002

[2021-03-28 10:52] gdude2002 commented on #28
A utility has been added which solves this issue, and it'll be available in the snapshots as soon as the previous commit has built.

It adds an `env(name: String)` function, which attempts to load a `.env` file in the current working directory the first time it's called, prioritizing the contents of that file over `System.getenv()` when resolving environment variables.

The file cannot be reloaded

[2021-03-28 10:52] #28 closed, assigned to gdude2002

[2021-03-28 10:54] gdude2002 commented on #29
Should be fixed in https://github.com/Kord-Extensions/kord-extensions/commit/7a61ce7bffcdbf44323a1be08ac5c4fb0295cc66

[2021-03-28 10:54] #29 closed, assigned to gdude2002

[2021-03-28 10:55] gdude2002 commented on #27
While I do think that cooldowns are a very valuable thing in a framework like this, I'm not currently in a position where I know how to implement them - I'm going to need help with this one

[2021-04-02 18:14] Forbidden-A commented on #26
Yeah seems good, sorry I've been busy with family

[2021-04-07 22:37] bosukas opened #30 "Converter Validation"
# Summary

Currently we don't have a way validating data without sub-classing the converters.
For example, we may want a string that can only have a maximum x amount of characters or an integer that cant be lower than y.

# Current Behaviour

The way to do this right now is to check for this inside the action method.

[code]

Or subclass the converter method (not going to show an example)

# Prefe

[2021-04-08 22:19] gdude2002 commented on #30
This is now present in the latest snapshot, and, yeah, it basically works how you think it does. Throw a `CommandException` to fail and the exception message will be sent to the user.

[2021-04-10 15:51] bosukas opened #31 "Bot permissions for commands"
# Summary

Add checks for checking if the bot has permission for a command

# Current Behaviour

We can do this with the check function, however if the check fails (the bot doesn't have permission for a command), it will not show up on the help menu.

# Preferred Behaviour

A specific check for bot permissions. The command should still show up on the help menu if the bot does not have permission t

[2021-04-11 10:07] gdude2002 commented on #31
Here's what I've got for you. It'll be in the next snapshot - please give it a go and let me know what you think!

[code]

![image](https://user-images.githubusercontent.com/204153/114300016-1ad7ae80-9ab6-11eb-9c32-42b3f1e193f6.png)

Required perms also show in the help output, by the way.

[2021-04-11 15:03] bosukas commented on #30
Thanks for the change, this seems good.
Another small thing that I thought of is maybe including the display name of the argument in the lambda?

In this example, `displayName` is the display name of the argument and `input` is the actual input from the user to validate.
[code]

I feel like this change would help keep error messages more consistent

[2021-04-11 19:37] gdude2002 commented on #30
That's not really possible under this model, as converters aren't aware of their Arguments parent object. The only thing I can think of that wouldn't require rewriting a good chunk of the logic would be to allow you to stick some kind of token in the string - although then again, you're writing the validator, so you know what the argument is named already.

Is there a use-case for this where you w

[2021-04-11 21:05] bosukas commented on #30
I was planning to do something like this

[code]

This is so that I dont have to keep rewriting the same checks over and over again, and also get prevent typos since it re-uses the display name. However, this isn't a need, just something that would be nice so I don't mind if it can't be implemented

[2021-04-12 09:04] gdude2002 commented on #30
Via some passing of data, I've managed to make validator functions receive the `Argument<*>` object with the converter's metadata.

This is not typed in a way that will allow you to easily get the converter object itself, but it does provide the `displayName` and `description` properties.

[2021-04-12 09:24] bosukas commented on #31
This is perfect thank you

[2021-04-12 09:24] bosukas commented on #30
This is also perfect, thank you for the changes! :D

[2021-04-12 12:45] gdude2002 commented on #31
Alrighty, good stuff - I'll close this for now and consider it solved, feel free to reply or poke on Discord if you need any other changes to this.

[2021-04-12 12:45] #31 closed, assigned to gdude2002

[2021-04-12 12:45] gdude2002 commented on #30
Alrighty, good stuff - I'll close this for now and consider it solved, feel free to reply or poke on Discord if you need any other changes to this.

[2021-04-12 12:45] #30 closed, assigned to gdude2002

[2021-04-12 21:52] gdude2002 opened #32 "Translations/i18n"
You knew this was coming - and it's actually looking simpler than I expected.

I think we should make use of the `.properties`-based [`ResourceBundle` Java class](https://docs.oracle.com/javase/7/docs/api/java/util/ResourceBundle.html?is-external=true) from the standard library, and bump our Java target to Java 9 (because [it doesn't use UTF-8 in Java 8 and earlier](https://www.baeldung.com/java-r

[2021-04-13 20:09] gdude2002 commented on #32
Making decent headway on this. It's set up to return the translation key if no translation could be found, which means it can be safely slotted in all over the place - for example, in the help extension for translating command descriptions.

I'm currently supporting [IBM's MessageFormat class](https://unicode-org.github.io/icu-docs/apidoc/released/icu4j/com/ibm/icu/text/MessageFormat.html) as part

[2021-05-21 13:30] gdude2002 commented on #32
This is almost entirely done, and we've got several languages merged at this point - there are still a few things to do, though.

- [x] Command argument names
- [x] Bring external modules in from the other repos and translate those

[2021-05-27 21:11] bosukas opened #42 "Slash Commands Test Guild"
# Summary

When creating slash commands, you have to wait 1 hour for them to update globally, which is a problem when your testing them. To combat this, you create guild specific slash commands and test them out on your own guild since they update instantly. However, when working with a lot of slash commands, it becomes easily forgettable to keep adding your own guild to each slash command, and th

[2021-05-28 13:07] bosukas opened #43 "Ability to download attachments"
# Summary

Currently there is no way to download attachments without creating your own function for it, however I feel like it would be a nice extension function with kord-extensions.

# Preferred Behaviour

Maybe an extension function for attachments could be added, something like:

[code]

# Suggestions

I have an extension function for the http client that lets you download from URLs. I don't k

[2021-05-30 11:00] gdude2002 commented on #42
The latest push includes a `defaultGuild` property (with DSL functions) in the `slashCommands` DSL.

[2021-05-30 11:00] #42 closed, assigned to gdude2002

[2021-05-30 11:20] Distractic opened #45 "Paginator : Interaction forgotten"
# Description

With the Paginator, when two actions (interaction with a reaction) are made too quickly, the last interaction will be forgotten (so the action linked to the reaction is not applied)

# Version

`kord-extensions:1.4.0-SNAPSHOT`

# Reproduction

Just create a Paginator (custom or use the one generated by help command), and try to add 2 reaction, i you succeed this, one of reaction wil

[2021-05-30 11:33] Distractic opened #46 "Argument: Translate argument with specific bundle"
# Summary

Add the possibility to use a specific `bundle` (for translation) in the command for his argument (description ..)

# Current Behaviour

When we use a translation key, the TranslationProvided do not find the key, because he search into the default bundle (Kordex)
For example, for a specific argument
[code]

All key are translated with the default bundle (kordex bundle) and not the person

[2021-05-30 11:50] gdude2002 commented on #45
**Note to self:** Fixing this is going to require custom event dispatcher logic. It's doable, it'll just take a while.

[2021-05-30 11:50] gdude2002 commented on #45
It's worth noting that Components will possibly obsolete this issue - the paginator will be able to move to real buttons at that point. We'll see, though.

[2021-05-31 22:10] bosukas opened #48 "Unload extensions on disconnect event"
# Summary

Currently there is nothing in the life cycle that uses the unload method in the extension classes. This is a problem as extensions that use the unload method will never be unloaded. This could cause an inconvenience if the unload method saves data, etc (unless the user handles it themselves).

# Suggestions

Maybe an idea would be to have a defaulting behaviour of extensions being unloa

[2021-06-01 09:25] gdude2002 opened #49 "Help command customization"
It'd be nice to provide something in the `ExtensibleBotBuilder` that exposes a bunch of customization options for the help extension.

It's not known what precisely would be useful here - it'd be nice if the community would weigh in on this.

[2021-06-01 09:27] gdude2002 commented on #48
I definitely don't want to unload extensions when the gateway is disconnected - there are tons of reasons why that could happen, but Kord and the Discord protocol are designed to handle that gracefully.

A runtime hook might be useful, though.

[2021-06-01 10:31] gdude2002 commented on #43
Done, see the utils docs for info after they build.

[2021-06-01 10:31] #43 closed, assigned to gdude2002

[2021-06-01 10:33] gdude2002 commented on #46
I'll work on this soon, but I'm going to move the functions for each converter into the file the converter is defined in, for the sake of making it easy to push things around.

[2021-06-01 12:51] bosukas opened #50 "Enum value aliases"
# Summary

Provide a way of having aliases for enum values for arguments.

# Preferred Behaviour

Each enum value could have an array of aliases that we can provide, similar to how aliases for message commands work.
Maybe something like this:
[code]

[2021-06-01 18:07] nicholasgrose commented on #49
In my case, I have a constant stream of information in a channel that, for convenience, needs to exist alongside the available commands. However, commands clog up space between the data, so I have added a timeout to many of their results. The ability to add such a timeout to the help command and related behaviour, like argument number, command errors, or the command group help response, would be i

[2021-06-01 20:53] gdude2002 commented on #49
Could you be more specific regarding what you meant by the following?

[2021-06-01 21:12] nicholasgrose commented on #49
Sure! I'm referring to the following:
![image](https://user-images.githubusercontent.com/35816886/120390958-5e9fa500-c2fc-11eb-9ba7-e134b0c05cb2.png)
![image](https://user-images.githubusercontent.com/35816886/120390969-63645900-c2fc-11eb-8c5b-96cf800ae43c.png)
![image](https://user-images.githubusercontent.com/35816886/120391007-6cedc100-c2fc-11eb-9812-bdd70f03364d.png)

These messages don't disa

[2021-06-01 21:30] gdude2002 commented on #49
Got it, thanks!

[2021-06-02 13:12] gdude2002 commented on #49
The commit I've just pushed is specific to the help extension, so it only covers the second screenshot above - I'll get on the rest soonish. For now, please give it a go and let me know what you think!

[2021-06-03 02:46] nicholasgrose commented on #49
The new commit has some awesome changes! After playing with it for a little bit, it seems to be doing a great job with timeout of !help and its pages. I also loved the addition of colour. I had never even thought of it, but it is awesome to play with.

There were, however, two issues I noticed. Notably, the help menu for specific commands seems to be unaffected by the timeout. E.g. if I used "!hel

[2021-06-03 18:25] bosukas commented on #49
For the colour dsl in the help extension, could you provide the MessageCreateEvent or something? I'd like to make the embed colour match the bot's top role colour

[2021-06-04 10:20] gdude2002 commented on #49
I think Discord actually does this whenever you use flat white - I'll update the hex to `FEFEFE` instead of `FFFFFF`, that might work.

Didn't think of this one - we don't even attempt to wait for an event in this case, so there's nothing to time out, really. I'll fix that.

Sure thing!

[2021-06-04 10:30] gdude2002 commented on #49
I've just pushed - feel free to try it out when you can!

[2021-06-04 11:41] gdude2002 commented on #46
This ticket isn't specific enough - from what I can find, the description should be translated properly. You haven't explained where incorrectly-translated strings are shown.

[2021-06-04 11:59] gdude2002 commented on #48
Having looked into this, runtime shutdown hooks aren't guaranteed to ever be called - and even if they were, Kord may already have been shut down by that point. Because this is such an unreliable way of cleaning up your extensions and saving data, I'm not going to implement such a hook.

The unload function is intended to be used purely from an extension management perspective - you should build y

[2021-06-04 11:59] #48 closed, assigned to gdude2002

[2021-06-05 03:06] nicholasgrose commented on #49
The fixes to make the white look white seem to be working, however the "!help" for specific commands still does not seem to be timing out properly.

[2021-06-05 12:41] gdude2002 commented on #49
Right you are - I've just tested it out and located the issue. It's working in the test bot now, so please give the next snapshot a go when it builds.

[2021-06-06 01:16] nicholasgrose commented on #49
It appears to be working perfectly now! I can't think of any other useful customization options at this time. I will definitely think about it, though.

[2021-06-08 21:03] gdude2002 opened #52 "Argument parser overhaul"
The command argument parser needs an overhaul pretty badly:

* Converters are annoying to maintain, with many individual functions for applying them
* The argument parser always assumes that quoted arguments should have quotes stripped from them
* The argument parser has a ton of branching for each converter type

Here are my thoughts right now:

* We should use kotlinpoet to generate the converte

[2021-06-09 20:41] bosukas opened #54 "Sentry feedback commands not registering"
# Description

The sentry feedback commands are not getting registered, even though sentry itself is registered.
When looking through the help menu, there is nothing to indicate that there are feedback commands either.

# Versions

Kotlin 1.5, Kord-ex 1.4.1-Snapshot

# Reproduction

I am registering sentry in this order:
[code]

I have then made a simple command that throws an exception

[code]

T

[2021-06-09 20:51] bosukas commented on #54
When trying to register the sentry (same code as above) in the `afterKoinSetup` hook, I get this error
[code]

[2021-06-10 13:13] gdude2002 commented on #54
I pushed a commit that should correct that latter error - can you try it again with the new change?

[2021-06-10 13:24] bosukas commented on #54
Yeah, it's registering the feedback commands now, thanks.

Just a note: the docs for this seem to be out of date, so you might wanna have a look at those

[2021-06-10 13:29] gdude2002 commented on #54
I think it may be better to give it the help extension treatment - a `sentry { }` block with a disabled-by-default Sentry extension, and initialisation stuff in that block which will also enable the extension with it. I'll look into that.

[2021-06-10 13:31] bosukas commented on #54
Good idea.
While your at it, could you add an option to disable pings in replies for the message command variant, just like how you did with the help command?

[2021-06-11 15:14] bosukas opened #55 "Sentry Integration MessageUpdateEvent sending multiple requests"
# Description

When receiving a MessageUpdateEvent while having sentry enabled, it seems that sentry makes a lot of requests for something. This happens for messages that have been sent before the bot was turned on.
Adding any checks to this event will make even more requests.

This problem causes the program to spam Discord's API and gets us rate-limited really quickly.

# Versions

Kotlin 1.5, K

[2021-06-13 17:11] bosukas commented on #49
Small issue, when getting help for subcommands, the menu does not display the full command name
You could fix this by adding a `parentCommand` to the `MessageCommand`, just like you have in `GroupCommand`, so commands can be aware of whether they are subcommands.

Should be `b!test sub1` instead of `b!sub1`
![image](https://user-images.githubusercontent.com/60557521/121816078-6999f400-cc71-11eb-8e

[2021-06-14 10:12] gdude2002 commented on #55
Having talked about this with the Kord team yesterday, the issue is that Kord does not cache entities retrieved from REST. This means that the `.asMessage()` that is sometimes called under the hood will get the message from REST, and just never cache it because.. well, Kord doesn't.

I think @BartArys may be looking into alternative approaches, but for the time being there isn't a whole ton we can

[2021-06-14 10:32] gdude2002 commented on #52
The first part of this issue is done - _most_ converters now have their converter functions generated via a KSP annotation processor.

More info on that is [in the docs](https://kordex.kotlindiscord.com/dev/concepts/converters/#generated-converter-functions).

[2021-06-17 21:07] bosukas commented on #52
There is no way for converters to succeed without consuming any tokens.

In the case of an Attachment Converter, where we take attachments as arguments, there's no current way of implementing this as if an attachment is provided, the argument consumes 0 tokens which we can't currently represent. Single Converters take 1 argument or fail, and Coalescing Converters will fail when you return 0 tokens

[2021-06-24 13:22] gdude2002 commented on #52
This issue is mostly done - including @qbosst's comment. The only thing I wasn't able to do was to simplify the argument parser class itself, as it really _does_ have to branch for each converter type.

Converter base classes implement the `Converter` base, which takes four generics - input, output, named-input and result respectively.

[code]

As you can see, it's impossible to unify these types

[2021-06-24 17:54] gdude2002 commented on #32
This has been "done" for a while.

[2021-06-24 17:54] #32 closed, assigned to gdude2002

[2021-06-24 17:58] gdude2002 commented on #45
The new paginators provide a much better UX and don't seem to have this particular problem, so I consider this issue resolved for now - the old paginator is marked as deprecated and will be removed in a future version.

[2021-06-24 17:59] #45 closed, assigned to gdude2002

[2021-06-24 18:30] gdude2002 commented on #49
Both problems that @bosukas reported above should be fixed in the latest push.

[2021-06-25 13:04] Distractic commented on #46
There is already the property `bundle` for an Extension class. With that, this is possible to define with which bundle should be translated each keys into a command

[2021-06-25 13:04] #46 closed, assigned to gdude2002

[2021-06-28 10:24] Leo40Git opened #56 "Issues with message argument type"
# Description

I have a command that accepts a message as its single argument. However, I've noticed a problem when trying to invoke this command - namely, that the message argument is always invalid (see Media section).

(the only actually invalid argument, AFAICT, is the one where I only gave it the message ID)

# Version

I'm using Kord Extensions `1.4.1-SNAPSHOT`. No other dependencies declare

[2021-06-29 09:44] gdude2002 commented on #56
This should be fixed in the latest push. Make sure you wait until it's built, and then use this option in IJ (assuming that's what you use)

![image](https://user-images.githubusercontent.com/204153/123775857-a8ad8380-d8c6-11eb-8889-7887e9e2bd57.png)

---

There were two problems here:

1. It seems Kord changed how the `MessageCreateEvent` works, meaning that the channel it contains is always a `M

[2021-06-29 09:44] #56 closed, assigned to gdude2002

[2021-06-30 11:58] gdude2002 commented on #52
People seem largely happy with this, so I'm gonna consider it done for now.

[2021-06-30 11:58] #52 closed, assigned to gdude2002

[2021-06-30 12:02] gdude2002 opened #57 "Conversational API"
This is something that gets requests occasionally - an easy API that allows for one to set up a navigable tree of "questions", which take input from the user as text on Discord rather than via any specific command.

The following things need to be kept in mind:

* Questions should be very customizable, allowing for multiple output styles
* Questions should support multiple input styles - message t

[2021-06-30 12:04] gdude2002 opened #58 "Checks overhaul"
As it stands, checks are pretty simple and there's a lot of power in their simplicity. However, there are some situations where checks are not enough, and the user needs to have a message returned to them.

This issue proposes a new style of checks - very similar to the current style, they would simply take an event and return a value. However, that value should be a `CheckResult` rather than a bo

[2021-06-30 13:50] gdude2002 commented on #54
This will be included in the next push.

[2021-06-30 13:50] #54 closed, assigned to gdude2002

[2021-06-30 15:12] gdude2002 commented on #49
At this point, I think we're basically there with this - new issues can be opened for further customisation.

[2021-06-30 15:12] #49 closed, assigned to gdude2002

[2021-07-03 14:30] gdude2002 commented on #55
Kord updated to add a rest-caching fallback strategy, which is now the default in KordEx. See if you still have this problem with `1.4.2-SNAPSHOT`, would you?

[2021-07-04 16:46] bosukas commented on #55
It seems to have solved the problem, the bot isn't spamming requests anymore

[2021-07-04 16:46] gdude2002 commented on #55
Excellent, thanks for checking!

[2021-07-04 16:46] #55 closed, assigned to gdude2002

[2021-07-04 22:28] imkunet opened #62 "Make automatic acknowledge type naming more consistent"
# Summary

The naming for determining the mode of automatic interaction acknowledgement is inconsistent.

# Current Behavior

Right now in the component builder the field that determines the mode of automatic interaction acknowledgement is called "ackType" whereas the slash command's automatic acknowledgement field is called "autoAckType".

[Slash Commands Field](https://github.com/Kord-Extensions

[2021-07-06 10:24] gdude2002 commented on #62
This is fixed in the latest snapshot - the property name was actually `autoAck`, not `autoAckType` or `ackType`.

I've deprecated the old name at the ERROR level, so that should help you with renaming.

[2021-07-06 10:24] #62 closed, assigned to nobody

[2021-07-13 16:20] gdude2002 commented on #58
I decided to take a different approach to this, as `CheckResult` was cumbersome and a lot of extra context had to be passed around. Instead, checks now make use of a `CheckContext` type deal, with `pass` and `fail` functions available.

This is in `1.4.3-SNAPSHOT`, and it'd be great if people would try it.

[2021-07-20 10:11] bosukas opened #63 "Components setup function creates unnecessary listener when components only contains disabled buttons"
# Summary

Disabled buttons are not actionable/clickable. When you send a message that only contains disabled buttons, the components setup function creates an unnecessary listener.

![image](https://user-images.githubusercontent.com/60557521/126305765-0bdb29d5-4f4f-4b29-9a1f-e7e5bcfb252c.png)

# Preferred Behaviour

We should have a way of deciding whether we want to be able to listen for button

[2021-08-03 18:07] alex5nader opened #65 "Make ActionableComponentBuilder's ID customizable"
# Current Behaviour

Currently, ActionableComponentBuilder's ID is an `open val`. This means the only way to provide a non-random ID is to subclass and override it, which is very annoying.

Source, for reference: https://github.com/Kord-Extensions/kord-extensions/blob/dd428e23cae25cd7b64398df77ee55c112eaccf6/kord-extensions/src/main/kotlin/com/kotlindiscord/kord/extensions/components/builders/Acti

[2021-08-04 17:09] PotatoPresident opened #66 "Add the addition emoji helpers from ButtonBuilder to SelectOptionBuilder"
# Summary

Add the addition emoji helpers from `ButtonBuilder` to `SelectOptionBuilder`.

# Current Behaviour

`SelectOptionBuilder` only accepts `PartialDiscordEmoji`

# Preferred Behaviour

Allow multiple emoji classes like `ButtonBuilder` does

[2021-08-05 10:00] gdude2002 commented on #58
This is now in a release version, so I'll consider it good. Feel free to open another issue if there are problems.

[2021-08-05 10:00] #58 closed, assigned to gdude2002

[2021-08-05 10:05] gdude2002 commented on #63
I'm still thinking about this util, honestly. It works for sure, but I'm starting to wonder if it's a great approach. Can you think of a better way? Perhaps delegating event handling to a central class to cut down on handler spam?

[2021-08-05 10:11] gdude2002 commented on #66
Done. Current snapshots, next release.

[2021-08-05 10:11] #66 closed, assigned to nobody

[2021-08-05 10:13] gdude2002 commented on #65
Done done. Current snapshot, next release.

[2021-08-05 10:13] #65 closed, assigned to gdude2002

[2021-08-08 18:55] Yofou opened #67 "Paginators, pages do no support embed fields"
# Summary

The Title is basically the summary, so not much to add here.
but I would love to be able to add some fields to an embed through
the Page API, so I can use the Paginator utility more.

# Current Behaviour

The current page builder only contains this..
[code]

as you can see, fields are absent in the constructor (and I doubled checked for any methods too),
which I feel are an essential fe

[2021-08-09 08:45] gdude2002 commented on #67
I agree that there should be a builder. Ultimately, one needs to be able to provide a bundle - for translation purposes. It's also worth noting that pages are _not_ "plain" embed builders, and do modify the embeds as well.

It may still be possible to just use an embed builder, though. I'll think about it.

[2021-08-09 12:47] gdude2002 commented on #67
This has been done and will be available when `1.4.4-RC3` releases.

[2021-08-09 12:47] #67 closed, assigned to gdude2002

[2021-08-09 23:03] gdude2002 opened #68 "Double-check the components convenience builder functions"
It seems to me that some `components { }` builders are defined in inaccessible spots. This needs to be looked into.

[2021-08-10 12:51] gdude2002 commented on #68
This is proving to be a little trickier than expected, due to the fact that the `Components` utility class needs access to the current slash command context (if you're in that kind of interaction). For that reason, the DSL functions are going to have to stay where they are - in their respective context classes.

[2021-08-10 12:51] #68 closed, assigned to gdude2002

[2021-08-11 13:56] pluiedev opened #69 "Allow selecting a custom HTTP engine for Kord (niche request!)"
# Summary
Currently I have a (very) niche problem whenever I want to test or run my bot -- turns out that Kord defaults to use CIO for its default HTTP engine for Ktor, which has some bizarre issues with my proxy service that made the outward packets not handled by the proxy service. After some research I found out that my proxy is running under SOCKS, while CIO and Apache engines only support HTT

[2021-08-11 19:04] gdude2002 commented on #69
If Kord provides something for this, then I suspect it should be pretty easy to expose that, right? Can't imagine this being difficult.

[2021-08-13 12:53] HopeBaron commented on #69
Kord allows setting `httpClient` in `KordBuilder` as long as it could install `Websockets` and `JsonFeature`

[2021-08-13 13:21] pluiedev commented on #69
Yeah that's what I did with the workaround. If I can do that with Kordex without duplicating a lot of code that would be good
<details>
<summary>Side note</summary>
<strike>I just found out that this is the 69th issue! Nice.</strike>
</details>

[2021-08-13 17:45] bosukas commented on #63
Maybe we can have a central component registry similar to the `MessageCommandRegistry` and `SlashCommandRegistry`. The component registry would listen to interaction create events and check it against a map of interaction ids that we are currently listening to.

[2021-08-13 20:22] gdude2002 commented on #63
That's essentially what I had in mind, yeah - shouldn't be too complex to do.

[2021-08-13 20:44] bosukas commented on #63
Yeah it would probably be easier to create util functions for disabling buttons as well with this new approach

[2021-08-14 11:29] Blacklands opened #70 "Less verbose translation logging"
(Version used: `1.4.4-RC3`)

Is there a way to just disable the internationalization functionality?
I have just started using Kord Extensions, and I am not interested in using the resource bundles (not at the moment, at least). I just want to be able to provide strings directly.

[The (old) documentation](https://kordex.netlify.app/latest/concepts/i18n/) mentions that "translations are optional".

[2021-08-14 11:35] gdude2002 commented on #70
Hey, thanks for the issue!

I was thinking about this the other day -  currently they're debug level messages, which can indeed get annoying. My current plan is to switch them to trace logging.

The i18n stuff can't be disabled since it's a core part of the framework - it's relied upon by pretty much everything. The logging is there to let you know about missing translations, indeed - I think sett

[2021-08-14 12:00] gdude2002 commented on #70
This will be done in the latest push, as well as giving an explicit package name to the logger in case you want to change the logging settings yourself - it'll be `com.kotlindiscord.kord.extensions.i18n.ResourceBundleTranslations`.

[2021-08-14 12:57] Blacklands commented on #70
Thanks for the quick response!

I didn't even realize that the stacktraces are part of the logging messages! I had been thinking that they are just printed to stdout by the runtime.
In that case, one could set their logging framework to (effectively) filter out that specific output (e.g. with a RegEx filter). (EDIT: Or by setting that specific logger explicitly to something lower than `debug`, yes

[2021-08-14 12:58] gdude2002 commented on #70
Well, like I say, it's already been pushed up. I'll likely get a release out soonish, since Kord's in another snapshot cycle, but we'll see.

[2021-08-14 13:01] gdude2002 commented on #70
Don't close it yet, it's not in a release yet haha

[2021-08-15 14:16] Blacklands commented on #70
I apologize for the confusion; I started writing my response but then I went away and came back later to finish it, and ended up missing your update.
Anyway, thanks for solving this so quickly!

[2021-08-18 07:45] kimcore opened #71 "Allow disabling feedback command when using sentry extension"
# Summary

Allow disabling feedback command when using sentry extension.

# Current Behaviour

Currently, we can't disable the feedback command if the sentry extension is enabled.

# Preferred Behaviour

Users should be able to choose whether to create a feedback command or not.

# Suggestions

Expose a field in `SentryExtensionBuilder`, and check for that field in `ExtensibleBot.addDefaultExtensi

[2021-08-18 08:41] gdude2002 commented on #71
Done - this'll be available as the `feedbackExtension` Boolean prop in the `sentry` builder once the snapshot builds.

Note that `feedbackExtension` will be ignored if the Sentry integration is disabled.

[2021-08-18 08:41] #71 closed, assigned to gdude2002

[2021-08-21 09:36] gdude2002 commented on #69
Instead of providing a direct abstraction for this, I'm adding a `kord` DSL function to the `ExtensibleBotBuilder` class. This will allow you to directly run code against the `KordBuilder`, which I think is a more future-proof solution for allowing users to customize Kord's behaviour.

This will be available in the next snapshot, but I'm hoping to get a release out soon!

Also: Nice.

[2021-08-21 09:36] #69 closed, assigned to gdude2002

[2021-08-21 09:37] gdude2002 commented on #70
I'll be getting a release out shortly, so I'm closing this now - keep an eye on the releases section!

[2021-08-21 09:37] #70 closed, assigned to gdude2002

[2021-08-21 10:25] gdude2002 opened #72 "Tracking: Kord Contexts"
This is a tracking issue that contains a rough overview of what needs to be done to adapt KordEx to Kord's new `contexts` branch. This is going to require a rewrite of several systems, but it's ultimately for the best for everyone. There's a bunch of work to do in this list, but we've got this!

- [x] Rewrite the components system to use typed events and a centralized event system
    - [x] #63
-

[2021-08-26 18:29] Blacklands opened #73 "Application Commands String Attributes Validation"
_Application Commands_ have various limitations on their `string` attributes, as can be seen [here](https://discord.com/developers/docs/interactions/application-commands).
For example, the name of a command must have a length of 1-32 characters, its description must have one of 1-100 characters.
_Options_ names for the commands are even stricter, they must be all-lowercase as well.

Currently, Kor

[2021-08-26 18:31] gdude2002 commented on #73
I'll add this to #72 when I get a chance, but the issue with checking these things early is that translation keys are almost never the same length as the resulting name. I think we can still reasonably validate them though, just need to figure out the correct time to do so.

[2021-09-01 16:29] gdude2002 commented on #73
Small update - I poked @HopeBaron about parsing the JSON out of the error response when Discord responds with one. He said he's looking into it - although it may be a while, it'd be nice to be able to just get the error from the exception instead of having to hardcode validation for it.

[2021-09-01 18:11] HopeBaron commented on #73
This change has been added a while back https://github.com/kordlib/kord/commit/0f43fe4df7064a614e924c8156612346e1dcafd1

[2021-09-01 20:24] gdude2002 commented on #73
Hmm, so it was. I see that the JSON error codes have no human-readable version, though, which is unfortunate - usually I'd add something for it myself, but that's a looooot of stuff.

Though, it's an enum, so I can just stringify it, right?

[2021-09-02 09:52] HopeBaron commented on #73
Are we referring to this: [JsonErrorCode.kt - 0.8.x](https://github.com/kordlib/kord/blob/0.8.x/rest/src/main/kotlin/json/JsonErrorCode.kt) ?

[2021-09-02 13:25] gdude2002 commented on #73
yes

[2021-09-06 21:15] gdude2002 commented on #63
This has been solved with the latest snapshot commit.

[2021-09-06 21:15] #63 closed, assigned to gdude2002

[2021-09-07 07:44] gdude2002 commented on #72
Notes from Discord:

- [x] Add `unsafe` module with less strictly handled actionable interaction types
- [x] ComponentContainer doesn't clear components in message builders

[2021-09-07 10:04] bosukas opened #75 "Command Events"
# Summary

I would like to log stats about which commands are being used the most, which commands do people have trouble with the most, etc. Would you be able to add events that we can listen to for commands?

# Preferred Behaviour

These are examples for slash commands, but they should be added to all command types.

[code]

[2021-09-07 10:06] gdude2002 commented on #75
Hmm, that's a pretty interesting idea. Currently this'd be done using replacements for the various registry classes, but I think this is a fair thing to support natively as well. Worth looking into once we hit a 1.5.x release!

[2021-09-08 09:42] gdude2002 commented on #73
While it was tempting to do specific hardcoded validation here, Discord's basic requirements for application commands are subject to change - so, I elected to use the error message Discord provides at registration time, rather than hardcoding early validation. This should make things easier to understand, but still allow for flexibility, meaning that Discord changing its requirements won't break K

[2021-09-08 14:49] gdude2002 commented on #72
Believe it or not, this issue has been completed. I'll leave it open for a bit so people can try things out and port their bots over - I guess the next thing I'll have to do is documentation...

[2021-09-11 18:27] gdude2002 commented on #75
This has been implemented and will be available in the next snapshot. See here for the classes - there's a _lot_ of typed events here: https://github.com/Kord-Extensions/kord-extensions/tree/develop/kord-extensions/src/main/kotlin/com/kotlindiscord/kord/extensions/commands/events

I have a suspicion that this changeset may cause a small performance hit. Let me know if you notice any slowdowns, ple

[2021-09-12 00:42] bosukas commented on #75
This looks pretty good, thank you!
For the failed parsing event, would it be possible to have access to the argument object?

[2021-09-12 09:14] gdude2002 commented on #75
Well, it failed to parse, so the converter would be empty. I guess it should still be possible, though.

[2021-09-12 10:10] gdude2002 commented on #75
Latest push should make this possible now.

[2021-09-13 06:47] kimcore opened #77 "Make methods in ApplicationCommandRegistry open"
# Summary

Make methods in ApplicationCommandRegistry open.

# Current Behaviour

Methods like `handle`, `ChatInputCreateBuilder.register` are public, but not open.

# Preferred Behaviour

They should be open for user customization of registry behavior.

[2021-09-13 12:25] gdude2002 commented on #77
Done!

[2021-09-13 12:25] #77 closed, assigned to gdude2002

[2021-09-15 09:51] gdude2002 commented on #73
It's been about a week, so I'll assume this has been solved in a satisfactory way. o7

[2021-09-15 09:51] #73 closed, assigned to gdude2002

[2021-09-15 09:51] gdude2002 commented on #75
Working okay for you, @qbosst?

[2021-09-15 09:52] gdude2002 commented on #72
I'm largely happy with how this has worked out. Things are mostly done here now, and I think we're OK to move ahead and get the docs ready and do a release.

[2021-09-15 09:52] #72 closed, assigned to gdude2002

[2021-09-16 12:23] derkalaender opened #78 "createdAtStart Koin flag is ignored"
# Description

Creating a Koin module or definition inside of the `beforeKoinSetup` hook, the `createdAtStart` flag gets ignored, as those modules/definitions do not in fact get instantiated at start. This flag is useful for Database connections for example, which need to be established directly at application start to do migrations etc.

This might not be a deal-breaker at first, since you could

[2021-09-17 08:58] gdude2002 commented on #78
Hello, just getting around to this now!

Do you know if modules can be registered globally before `startKoin` is called? I guess the implication here is that they can, but it'd be good to double-check whether `getKoin` is safe to use that early.

I'll look into it.

[2021-09-17 09:39] gdude2002 commented on #78
Nope, `loadKoinModules()` can't be called before `startKoin` - any ideas?

[2021-09-17 11:49] kentogruener opened #79 "waitFor user message"
# Suggestions

Specific API to await messages from users

[2021-09-17 18:57] bosukas commented on #75
Looks all good, you can close this issue

[2021-09-17 19:25] gdude2002 commented on #75
Gotcha, thanks for the suggestion!

[2021-09-17 19:25] #75 closed, assigned to gdude2002

[2021-09-17 20:24] bosukas opened #80 "Add a util method that calculates the intents an extension uses"
# Summary

I use to be able to calculate the intents an extension uses by iterating through all the event handlers and running it through Kord's `getIntents(event`) method, however the event handler doesn't provide the KClass of the event type anymore.

# Preferred Behaviour

Add a util method that calculates the intents for an extension or allow us to do it by giving us the event or event class t

[2021-09-17 23:22] bosukas opened #81 "Convenience util methods for env"
# Summary

Currently the env method returns a null string if the variable is not present. I find that typically I add a null check and throw an error if the variable is missing for most envs. (`env("token") ?: error("token is missing")`).

I imagine most people probably have something similar too. Maybe we can make the env function throw an error by default if its missing, and add a `envOrNull` fu

[2021-09-18 16:33] gdude2002 commented on #79
The latest push contains the following functions:

* A general `waitForMessage`
* `MessageChannelBehavior.waitForMessage`
* `UserBehavior.waitForMessage`
* `MessageBehavior.waitForReply`
* `CommandContext.waitForResponse`

Hopefully that'll sort you out for now.

[2021-09-18 18:16] bosukas commented on #79
Would it be possible to allow for the waitFor functions to take in the `Arguments` class and it would parse it like a command?

[2021-09-18 18:19] gdude2002 commented on #79
You're asking for a conversational API, which is something I started planning in #57

[2021-09-19 08:53] gdude2002 commented on #81
You know the drill!

[2021-09-19 08:53] gdude2002 commented on #80
I'm going to need your list of events to intents before I can start on this.

[2021-09-19 13:28] slava110 opened #82 "Java 8 support?"
Hi. I wanted to use Kord Extensions in my project but it looks like it only supports Java 9 (while Kord supports Java 8). Is it possible to support Java 8? Or should I fork it to use in my project?

[2021-09-19 13:30] gdude2002 commented on #82
Hey, thanks for the issue.

At the moment, some KordEx modules make use of Java time APIs that only existed since Java 9. That said, I don't think the _core_ uses it - it should be possible to drop the API level a bit, and it should just work, but I can't check right at this moment.

I assume you're coming from the Minecraft community, looking at your repos?

[2021-09-19 13:49] slava110 commented on #82
Yeah, that's right. As I'm working on older Minecraft version I'm unable to use Java 9 in my project

[2021-09-19 13:51] gdude2002 commented on #82
Gotcha. I'm looking at this now, just running a test build.

[2021-09-19 13:55] gdude2002 commented on #82
Yes, this seems to build just fine. I'll get a push out for 1.5.0-SNAPSHOT shortly.

[2021-09-19 14:05] gdude2002 commented on #82
I believe that should be about published - let me know how you get on!

[2021-09-19 17:44] slava110 commented on #82
Yeah, it works! Thanks!
As about time API you're using... If you mean [this stuff](https://github.com/Kord-Extensions/kord-extensions/blob/root/modules/java-time/src/main/kotlin/com/kotlindiscord/kord/extensions/modules/time/java/ChronoContainer.kt#L190) you can replace it with `duration.seconds % SECONDS_PER_MINUTE`, `duration.toMinutes() % MINUTES_PER_HOUR`, etc. (you have these variables [here]

[2021-09-19 17:50] gdude2002 commented on #82
In our case, using java time types is kind of the point - it's for the java time API module. Either way, glad things are working now!

[2021-09-19 17:50] #82 closed, assigned to gdude2002

[2021-09-20 06:22] Unicorn7141 opened #83 "defaultingBoolean looking weird on the help command"
# Description

I was trying to make a shop command which allows people to add an item and decide whether it's limited to quantity X or not, using a `defaultingBoolean` with a default `false`.
When I checked the command using `help` it showed the following: `[limited?: yes/no=false]` which could be quite confusing.

# Versions

KordEx version: 1.5.0-SNAPSHOT

# Reproduction

# Code Examples

[code]

[2021-09-21 18:38] bosukas commented on #80
I used Kord's `getIntents(event)` method, so the list of events to intents would be there

[2021-09-21 18:38] bosukas commented on #81
Appears as though it's working, thank you!

[2021-09-21 21:21] gdude2002 commented on #81
:+1:

[2021-09-21 21:21] #81 closed, assigned to gdude2002

[2021-09-21 22:00] gdude2002 opened #85 "Converters that handle discord formatted timestamps"
Title

[2021-09-22 09:42] gdude2002 commented on #78
Marking this stale as it hasn't been updated in 5 days.

[2021-09-22 09:43] gdude2002 commented on #79
As this has been implemented and no feedback has been provided, I'll assume this issue is solved. Feel free to comment or open a new issue if there are further things to discuss.

[2021-09-22 09:43] #79 closed, assigned to gdude2002

[2021-09-22 09:56] gdude2002 commented on #83
Having looked into this, defaulting converters will show the precise value you've provided as the default value there. I'm not sure special-casing Boolean converters for this is the way to go, maybe some kind of translation method? I'm really not sure - I'll have to think about it.

[2021-09-22 10:42] gdude2002 commented on #80
Alright, I've done one better - this entire feature (the automatic enabling of intents) has been added, and will be available once the next snapshot has built.

I've already updated the docs for the `intents` DSL in the `ExtensibleBotBuilder`, please take a look a that, try this out, and let me know what you think!

[2021-09-22 17:35] bosukas commented on #80
This looks good, thank you!
I think the only thing I would want before closing the issue is for chat commands to also enable the direct messages intent

[2021-09-22 18:16] gdude2002 commented on #80
They currently enable guild messages - I'll check if there are other intents

[2021-09-22 18:40] gdude2002 commented on #80
I don't think `DirectMessages` is what you want.

[code]

I gave it `GuildMessages` already:

[code]

Surely that's what you want?

[2021-09-22 18:54] bosukas commented on #80
I guess it just depends on whether you think enough people will be using chat commands to also respond to DMs

[2021-09-22 18:55] gdude2002 commented on #80
So you need `DirectMessages` for DMs? Alright then, I can still do that.

[2021-09-22 18:56] gdude2002 commented on #80
Aaand that's pushed.

[2021-09-23 02:57] ByteAlex opened #86 "Flexible state handling for slash commands and components"
# Summary

In the current implementation of KordEx, the entire state of slash commands and components is only accessible in the virtual environment. Distributed setups with multiple bot instances are facing an issue there, commands/components which are registered/created on one VM can not properly be accessed/used on other VMs.
This is a major and blocking issue for my use case.

# Current Behavio

[2021-09-23 10:22] gdude2002 commented on #86
It's certainly an interesting idea.

Technically speaking, this is already done. Components have unique IDs _by default_ (they're given a stringified UUID), and commands must have unique names in their own scopes (guild/global and message/slash/user) - which effectively is an ID of sorts. The Snowflake to command mapping only exist because Discord keys them by Snowflake.

I'm not sure what you spe

[2021-09-23 10:38] DRSchlaubi opened #87 "Kordex puts all application commands into lower case"
All application commands automatically put the names into lower case .

However the context commands also allow upper case names, so that limit should be removed there

[2021-09-23 10:57] gdude2002 commented on #87
The latest push should handle this. It also uses case-insensitive matching for command names when syncing with Discord, but that shouldn't be an issue for you.

Let me know how this goes for you!

[2021-09-23 12:15] ByteAlex commented on #86
Thank you very much for your quick answer!

That's great, meaning the second part could be easily implemented I presume.

I'll gladly explain more what or why I need that.
In my distributed environment, every component should hold no local state.
There could be 3 "kord instances" running, and each of them is getting events for the same shard, but that event is at most delivered once.
Moving forwar

[2021-09-24 10:54] gdude2002 commented on #86
I think an early first approach that just swaps out the storage implementation is the way to go to begin with, and then we can look into registry-capable callables after, potentially in a module since it's such a specific thing. We can see how things shape up after the storage is done, at any rate.

[2021-09-24 17:27] bosukas opened #89 "Hooks builder for extensions"
# Summary

I want to configure some private variables in my extension based on hooks, (e.g. afterExtensionsAdded, extensionAdded), I was wondering if you could add a hooks builder to extensions, similar to the one in the extensible bot builder?

[2021-09-25 11:05] ByteAlex opened #90 "Lazy loading on Paginators"
# Summary

Paginators should support lazy loading pages with either "infinite scroll" or a fixed ending.

# Current Behaviour

Pages need to be predefined from the creation of the message.

# Preferred Behaviour

Pages should be lazy loaded as a user may click through them.

# Reasoning

A database may be large; for example a leaderboard. You need a sorted subset of it, but not all data at once. T

[2021-09-25 11:08] ByteAlex opened #91 "Check customization"
# Summary

Checks, to be more exact the error messages, should be better/more customizable.

# Current Behaviour

At the moment there is no customization beside of the message, even though that also has a lack on customization.
The message is always a simple string, prefixed by "**Error:**".

# Preferred Behaviour

Checks should be able to send fully customizable messages, i.e. via MessageBuilder

[2021-09-25 11:14] ByteAlex opened #92 "Locking state between check and action"
# Summary

Concurrency and race conditions are annoying, - so are locks, but sometimes it's needed to guarantee consistency.
In some situation you want to make precondition state checks in the `check` DSL and follow up on that in the `action` DSL, which modifies that state.
But what if two checks are handled concurrently, both are passing and we move both into an action, where only one should have

[2021-09-25 11:18] ByteAlex opened #93 "Interaction Converters rely on cache instead of "resolved""
# Description

InteractionCreate events provide an easy access to all data mentioned in the command via their "resolved" field.
This field is not being used by KordEx Converters, instead KordEx tries to fetch those entities from the cache.

# Expected Behaviour

KordEx should use the "resolved" field for data resolution.

[2021-09-25 19:48] gdude2002 commented on #89
This seems like it'd be much better suited for the events system - for example, the extension state change event. Is there a reason that doesn't help you?

[2021-09-25 20:06] bosukas commented on #89
I need an event that runs after all the extensions have been added, is there an event like that already?

[2021-09-25 20:08] gdude2002 commented on #89
Not at the moment, but what are you trying to do there?

[2021-09-25 20:31] bosukas commented on #89
I have an invite command and for the invite link you need the bot permissions. So I have a private permissions variable that gets calculated after all the extensions have been added by iterating through every command and applying its `requireBotPermissions` method to a permission builder

[2021-09-25 20:46] gdude2002 commented on #89
Oh, I see, permissions inheritance.

That really seems like something that should be done in an Extension subclass, though - what specifically does the iterating _after_ load get you?

[2021-09-25 20:50] bosukas commented on #89
Not sure what you mean `after load`
I have a method to calculate the permissions in an extension subclass and I call the method in the `afterExtensionsAdded` hooks builder

[2021-09-25 20:52] gdude2002 commented on #89
Right, but why are you doing that then instead of doing it in `doSetup`?

[2021-09-25 20:53] bosukas commented on #89
Are all the commands and extensions loaded in the `onSetup` ?
Theres no difference to me where it goes, just as long as the extension is setup

[2021-09-25 20:53] gdude2002 commented on #89
No, I mean, `doSetup` in the extension itself

[2021-09-25 20:55] bosukas commented on #89
I could, but that would only get me the permissions for the extension that's being setup

[2021-09-25 20:55] gdude2002 commented on #89
Yes but you haven't said why that won't help

[2021-09-25 20:56] bosukas commented on #89
i need the permissions for all the commands my bot has so that I can generate the invite link for it

[2021-09-25 21:02] gdude2002 commented on #89
Oh I see, you didn't mean a server invite link, you meant the OAuth link. Okay.

So why do you need to generate the invite link from another extension in that case?

[2021-09-25 21:06] bosukas commented on #89
Yeah an oauth link, I generate it in an extension because there's a command to display the invite like for it so it makes sense to calculate the permissions there

[2021-09-25 21:15] gdude2002 commented on #89
Well why do you need a hook then? You could just calculate it at command
run time and cache the result, no? Or maybe calculate it at the ready
event?

On Sat 25 Sep 2021, 22:06 boss, ***@***.***> wrote:

[2021-09-25 21:50] bosukas commented on #89
I guess I could do that, for some reason my mind didn't think of that

[2021-09-27 09:01] gdude2002 commented on #78
This hasn't been updated for 10 days, and I'm at a loss as to how this could be implemented. As the reporter seems to have disappeared, I'll be closing this issue now - if you have any further ideas or a proof of concept, please feel free to open another issue or comment on this one.

[2021-09-27 09:01] #78 closed, assigned to gdude2002

[2021-09-27 09:06] gdude2002 commented on #89
:+1:

[2021-09-27 09:06] #89 closed, assigned to gdude2002

[2021-09-27 09:38] gdude2002 commented on #92
As of the latest push, the following has been added to all (actionable) component and command builders:

* `lockable` boolean, set this to `true` to lock before command execution and unlock after
* `mutex` property, which will be filled automatically if you don't provide your own mutex, but you can supply one for more advanced locking purposes

The mutex covers the _entire_ command execution, whic

[2021-09-28 11:40] ByteAlex commented on #92
This appears to work for me!
But I still see warns about "unrecognized buttons" in the log, when a button was deleted on KordEx but clicked while the discord edit is pending. This could be a seperate issue though.

[2021-09-28 14:49] gdude2002 commented on #92
As long as that has no negative side effects, you may well be stuck with that. Locking is something that doesn't really fit well into a coroutine model, so you're gonna have compromises.

[2021-09-29 22:21] ByteAlex commented on #92
The scope of this ticket is resolved. Thank you!

[2021-09-29 22:21] #92 closed, assigned to gdude2002

[2021-09-30 16:13] gdude2002 commented on #91
I've pushed the following changes:

* In `CheckContext`, `errorResponseKey` and `defaultBundle` may now be modified by your check functions to point at new response translation keys and translation bundles
* In `ExtensibleBotBuilder`, the `errorResponse` DSL has been made available for you to change how the message returned by a check (or any other type of error) is formatted, globally

Is this en

[2021-10-02 17:07] ByteAlex commented on #91
After some discussion in discord, the commit e03bffb resolved this. Thank you!

[2021-10-02 17:07] #91 closed, assigned to gdude2002

[2021-10-02 19:39] gdude2002 commented on #87
Closing due to lack of response. If this isn't solved, well, your loss!

[2021-10-02 19:39] #87 closed, assigned to gdude2002

[2021-10-05 12:33] gdude2002 commented on #93
This should be addressed in the commit I just pushed. Let me know how you get on with it!

[2021-10-05 21:20] ByteAlex commented on #93
This works, great work, thank you!

[2021-10-05 21:20] #93 closed, assigned to gdude2002

[2021-10-05 21:27] ByteAlex commented on #86
The callback registry and the following change with "checks and actions" already helped alot, but we still have to construct a "dummy" button, since we have no idea about the button data.
Since the interaction event passes along all message data, we can iterate through the components and find the matching button by it's custom-id and pass that data to the "reconstructing" interface.

[2021-10-07 20:20] Chenjox opened #101 "Sending a `deferredAck` inside a `ephemeralButton` component does not defer the ACK"
# Description

Sending a `deferredAck` inside a `ephemeralButton` component, sends the thinking message

# Versions

Kord = 1.5.0-SNAPSHOT

# Reproduction

Minimum working example: (inside a extension)

[code]

# Suggestions

The current workaround is to send a `publicButton` instead of a `ephemeral` one.

[2021-10-07 20:56] gdude2002 commented on #101
Thanks for the issue - I've managed to isolate this to a copy-paste error, which means that the `deferredAck` property's behaviour is inverted for all ephemeral components. This will be fixed in the next push, but do note that it likely won't build - since I need to wait for some changes to be pushed to address issues in Kord's latest release.

[2021-10-07 21:20] gdude2002 commented on #101
Never mind, life finds a way. When it's built, give `1.5.1-SNAPSHOT` a go.

[2021-10-09 11:07] Chenjox commented on #101
It works now! Thank you.

[2021-10-09 11:07] #101 closed, assigned to gdude2002

[2021-10-12 10:36] #85 closed, assigned to Scotsguy

[2021-10-12 10:37] gdude2002 commented on #86
It's not clear from the remaining context in this issue whether there's more work to be done. Can you remind me on that?

[2021-10-12 10:37] gdude2002 commented on #80
It's been 20 days, so I'll assume that this is good.

[2021-10-12 10:37] #80 closed, assigned to gdude2002

[2021-10-12 10:43] gdude2002 commented on #50
Given the KordEx translations systems - and that Discord is largely moving to application commands, where aliases don't make sense - is this still needed?

[2021-10-12 10:43] gdude2002 commented on #83
So far, I haven't been able to come up with a smart solution for this.

[2021-10-12 11:09] bosukas commented on #50
no

[2021-10-12 11:09] #50 closed, assigned to gdude2002

[2021-10-12 11:33] ByteAlex commented on #86
I think reconstructing the entire button data from the message data was the last thing, which was open.
I.e. we do know the button-id (custom_id) and we get the message.components, so we can reconstruct the entire button data from that.

[2021-10-12 16:44] gdude2002 commented on #86
At what point in execution was that meant to happen, again?

[2021-10-19 08:33] ByteAlex commented on #86
Sorry, forgot to answer here; It was supposed to happen once we receive an InteractionCreateEvent, since in that context we eventually do not know the button object.

[2021-11-05 19:07] Distractic opened #104 "Optimize String Concatenation"
# Description

In several place of modules, the concatenation of string can decrease the performance.
Currently, the concatenation is make by the operator `+=`. This is not a problem for the inline concatenation `"a" + "b" + "c"`,
but when it's not, the compiler creates several StringBuilder instance.

So, below, the explanation sent in discord server :

When you add two string, this is the compil

[2021-12-01 15:42] gdude2002 opened #115 "Licensing change: MPL"
The MIT licence used for KordEx is [very permissive](https://choosealicense.com/licenses/mit/) - it essentially allows anyone to do anything with projects licensed under it, as long as the same licence notice is included with all derivatives.

This is fine for some projects, but given how the software landscape has been changing over time, I would be more comfortable with something a bit less perm

[2021-12-01 15:46] decorator-factory commented on #115
I'm OK with the licensing change

[2021-12-01 15:47] pluiedev commented on #115
:rocket:

[2021-12-01 15:48] pluiedev commented on #115
If it isn't clear, I approve of this change haha

[2021-12-01 15:50] Distractic commented on #115
ok for me !

[2021-12-01 15:54] sschr15 commented on #115
*wait shouldn't i also be required to allow since i basically partially redid mapping extension*

oh well, I approve anyway

[2021-12-01 16:02] gdude2002 commented on #115
For some reason, you weren't in the contrib graph? Odd stuff

[2021-12-01 16:03] gdude2002 commented on #115
Yeah, looks like I'm also missing out on @Galarzaa90 according to the PR list, I'll add them

[2021-12-01 16:06] Tom-The-Geek commented on #115
I am happy with the license change 👍

[2021-12-01 16:13] gdude2002 opened #116 "Converter function changes"
Now that Kord supports autocomplete for slash commands, I think it's a good time to revisit the converter API - specifically, how you specify them for command arguments.

Currently, converters are specified like this:

[code]

While this works for simple use-cases, I think we can do a lot better with a builder-style DSL instead:

[code]

Not only would this bring validation more in line with what

[2021-12-01 16:18] Galarzaa90 commented on #115
I'm good with the license change 👍🏼

[2021-12-01 16:44] sschr15 commented on #115
I'm guessing it's because it's not in the main branch right now?

[2021-12-01 16:44] gdude2002 commented on #115
Ah right, that's probably it, yeah

[2021-12-01 16:55] Chenjox commented on #116
So, this a very nice proposition, streamlining the API (it looks like a slash command dsl)

It would even open up to an easier syntax for own simple converters, which convert simple Discord Datatypes (string, number etc) to your own, so that you have access to them.

E.g.: My usecase would be to convert a certain String of characters to codes that only make sense inside my application.
would be
[c

[2021-12-01 16:56] gdude2002 commented on #116
I don't think there's actually a good way to do this in Kotlin's type system, though a wrapping converter could work, I think. Not entirely sure.

[2021-12-01 17:02] spaceclouds42 commented on #115
Sounds good 👍

[2021-12-01 17:10] DRSchlaubi commented on #115
lgtm

[2021-12-01 17:19] Forbidden-A commented on #115
I'm fine with whatever you decide gdude

[2021-12-01 18:31] Akarys42 commented on #115
I'm okay with the license change

[2021-12-01 18:44] ks129 commented on #115
👍from me!

[2021-12-01 18:47] bosukas commented on #115
👍 all good

[2021-12-01 20:35] darkerbit commented on #115
LGTM 👍

[2021-12-02 12:42] Scotsguy commented on #115
I don't think the EUPL allows what you think it does. A derivative must be EUPL-licensed except when a) it is combined into a work licensed under a compatible license as listed in the Abbendum or b) the derivative work is, as defined by EU directive 2009/24/EC, using the EUPL-licensed work in a way that is "indispensable to obtain the information necessary to achieve the interoperability of an **i

[2021-12-02 12:54] ByteAlex commented on #115
I've tried to read up stuff on EUPL, and I wonder why you chose such a niche license. This will either lead to people who don't even care about licensing OR people who drop it because they don't understand the license.

I'm not a lawyer. I only check for TL;DRs
![grafik](https://user-images.githubusercontent.com/2230292/144425672-2b3e4e89-032c-4a68-952d-44a2504da3b8.png)

Reading this I understand

[2021-12-02 13:44] gdude2002 commented on #115
I'm on phone and don't have a ton of time right now, but I think I can respond to some of these concerns.

The EUPL [is OSI-approved](https://opensource.org/licenses/EUPL-1.2). As far as I'm concerned, if the OSI is happy to certify a license, I don't think it's all that niche. I also don't think the EU is a particularly niche org.

At the top of the license, the following definition is provided:

[2021-12-02 14:44] gdude2002 commented on #115
![Here's a screenshot from that page, since I can't seem to copy text from it](https://user-images.githubusercontent.com/204153/144443410-7f6e982b-8882-4bda-9dd4-545459517d0a.png)

On this page, we have:

This paragraph (that was partially quoted) seems to only apply to reproduction, modification and distribution in an unauthorized manner. It doesn't cover licensed uses, which we seem to be OK wit

[2021-12-02 15:03] Scotsguy commented on #115
interoperable. This means that all the interfaces of the
covered software (the APIs, formats, data structures) can
be freely copied and reproduced in other independent works
in order to build interoperability, e.g. combining software
distributed  under  the  EUPL  with  any  other  software
licensed differently, even under a proprietary licence. In
such a combination or statically linked aggregati

[2021-12-02 15:16] gdude2002 commented on #115
I had looked at the MPL, but it has a loophole whereby it only applies to individual files rather than the project - meaning you could stub out files or otherwise call out to your custom code without having to disclose it, even if it was an objective improvement to the project

[2021-12-02 17:47] gdude2002 commented on #115
I forgot to respond to the other point, I'm leaning on the **"or statically linked aggregation"** part of that quote here, but it doesn't seem they define what they mean by that,

Reading the licence itself, it only seems to state that derivative works need to include the licence notices from the original work, and a copy of the EUPL (which we can easily do by adding it into the JAR). It only seem

[2021-12-02 18:08] Scotsguy commented on #115
As for what a derivative work is:

  Licensee, based upon the Original Work or modifications thereof. This Licence
  does not define the extent of modification or dependence on the Original Work
  required in order to classify a work as a Derivative Work; this extent is
  determined by copyright law applicable in the country mentioned in Article 15.

basically, ask a lawyer. even better, ask a cou

[2021-12-02 20:05] gdude2002 commented on #115
You mean their SaaS-as-usage clause? I really don't need that, tbh

[2021-12-03 00:33] ByteAlex commented on #115
So TL;DR of EUPL is linked bins license is not spreading on the whole project, i.e. linked kordex wouldn't force me to align with EUPL?

[2021-12-03 00:35] gdude2002 commented on #115
That's what I thought, but if @Scotsguy disagrees then I don't think we can rely on that interpretation - so we'll need to keep looking.

Any ideas?

[2021-12-04 08:49] gdude2002 commented on #115
How about the [Eclipse Public License](https://www.eclipse.org/legal/epl-2.0)?

From [the FAQ](https://www.eclipse.org/legal/epl-2.0/faq.php):

Otherwise, it seems to do what I talked about in the initial issue comment.

[2021-12-04 09:26] Jamalam360 commented on #116
Looks good to me :+1:

[2021-12-08 00:28] ByteAlex commented on #115
There's like no TL;DR on EPLv2, aside from that I'm not a lawyer, I'm giving you my OK for any license change that will not make me to have my bot(s) using a linked binary from kordex open source.
I'm okay with having all derivations to KordEx itself open sourced and I don't plan to sell KordEx as my own product, so those topics, can be touched by a license change without further approval from me.

[2021-12-08 00:31] ByteAlex commented on #115
+ I need to be able to distribute my bot(s) in a commercial matter, so that may not change too. Other than these points, you should be good.

[2021-12-08 16:04] gdude2002 commented on #115
Having looked (again) over numerous licences, I've decided that really we should... just go MPL. It doesn't cover every situation I have concerns about, but it's the closest we're going to get.

An FAQ is [available here](https://www.mozilla.org/en-US/MPL/2.0/FAQ/).

To ratify this change, I'll need to once again ask for permission from each of our contributors.  I apologize for the extra notifica

[2021-12-08 16:07] sschr15 commented on #115
I’ll accept this, seems good enough given what I’ve read

[2021-12-08 16:12] spaceclouds42 commented on #115
Sounds good to me!

[2021-12-08 16:15] Scotsguy commented on #115
I am okay with relicensing under the Mozilla Public License.

[2021-12-08 17:12] qt-haskell commented on #115
I agree

[2021-12-08 18:33] decorator-factory commented on #115
LGTM

[2021-12-08 19:17] bosukas commented on #115
👍

[2021-12-08 20:24] darkerbit commented on #115
Looks fine to me 👍

[2021-12-08 20:30] Distractic commented on #115
👍

[2021-12-08 23:12] pluiedev commented on #115
👍

[2021-12-09 06:08] ks129 commented on #115
👍

[2021-12-09 07:56] Akarys42 commented on #115
Consider this as an approval for any license you might choose @gdude2002

[2021-12-09 09:37] DRSchlaubi commented on #115
:+1:

[2021-12-09 10:57] Tom-The-Geek commented on #115
MPL also sounds good :thumbsup:

[2021-12-09 15:42] Galarzaa90 commented on #115
Sounds good 👍🏼

[2021-12-09 15:44] gdude2002 commented on #115
Alright folks, it seems we've reached consensus. Thanks for everyone's input - I'll get this done ASAP!

[2021-12-19 16:15] Distractic opened #120 "Toggle to disable or enable a button (component)"
# Summary

Add a way to disable and enable a button in a component.
So when the button is disabled, it can be enabled and vice versa.

# Current Behaviour

There is no easy way to do this.

# Preferred Behaviour

Maybe in the component, add a method to enable or not a button for an index

[2021-12-20 11:37] gdude2002 commented on #120
This should be addressed in the most recent commit.

Due to a lack of some API structures in Kord, it's impossible to make this usefully automatic. That said, you can keep track of your `ComponentContainer` object and the button objects you may wish to modify, call `disable()` or `enable()` against the button objects, and apply the same container to a message builder.

[2021-12-20 11:37] #120 closed, assigned to nobody

[2021-12-21 04:51] misterquestions opened #121 "Update kord version to implement mute/timeout features"
# Summary

The kord dependency must be updated to support the timeout feature that was recently implemented in discord. This depends on [the following pr](https://github.com/kordlib/kord/pull/448) to be merged.

# Current Behaviour

No support for `communicationDisabledUntil` inside guild member

# Preferred Behaviour

Have this property aswell when using this framework

[2021-12-21 08:12] gdude2002 commented on #121
Hello, thanks for the ticket!

The pull request you've linked hasn't been merged yet. As soon as it has been, and Kord's GitHub Actions have been run, the changes will be available on Kord's snapshot branch - so it'll be immediately available for KordEx 1.5.1-SNAPSHOT with no changes required by us.

I highly doubt this PR is going to somehow result in a new stable version of Kord, so you'll need

[2021-12-21 08:12] #121 closed, assigned to nobody

[2021-12-22 13:55] ghost opened #122 "View model for message components"
# Summary

As we discussed on Discord, the implementation of a View class, similar to how disnake handles them (examples can be found [here](https://github.com/DisnakeDev/disnake/tree/master/examples/views))

# Preferred Behaviour

With the ability to create a class for commonly used views such as pagination, confirmation etc. (example for confirmation [here](https://github.com/Miss-Corruption/Dis

[2021-12-22 13:59] gdude2002 commented on #122
Interesting concept - I think this is probably a good way to go given how Kord's APIs work (and that I refuse to maintain a fork of it), though it definitely couldn't be part of `createMessage` - that's why the `components` builder doesn't do this already!

[2022-01-04 22:14] DRSchlaubi opened #123 "Arguments should be ordered properly"
I have a problem that when I have an argument system like this

[code]

Then `x` will be over `y` in `Arguments.args` which Discord doesn't like

One possible way of solving this would be to just put all required args before all optional args, that way we sorta retain the order but still register them like discord wants us to

Another way would be to add an index to the argument builders

[2022-01-07 18:36] bosukas opened #124 "Make the Slash Command API more typesafe"
# Summary

The Slash Command API allows for subcommands to have other subcommands and groups.

# Suggestions

Split up the SlashCommand class into two, a top level slash command class and a sub command class.

[2022-01-16 14:40] #116 closed, assigned to gdude2002

[2022-01-25 18:51] Ayfri opened #130 "Add timeout utility extensions methods"
# Summary

Add a method to easily timeout a member for a duration and a method to disable timeout of a member.

# Current Behaviour

Editing the member `timeoutUntil` or `communicationDisabledUntil` property, if we want to deactivate until now + a duration, we have to include a calculation into our code.

# Preferred Behaviour

Use methods for this.

# Suggestions

[code]

[2022-01-28 11:45] gdude2002 opened #132 "Suggestions: Small Utilities"
I've created this issue so that people can suggest small utilities without creating an entirely new issue for them. Just leave a comment below, and I'll have a look when I can.

# Next up

- [ ] A way to provide a response for people that fail paginator checks
- [ ] A way to handle unknown components (at the component registry level)
- [ ] Default guild ID for command registrations, at the extensi

[2022-01-31 19:04] NoComment1105 opened #133 "The Linkie Mappings System now requires JitPack"
# Description

* I was adding the mappings extension to my bot
* The bot doesn't start.

# Versions

* KordEx Version 1.5.2-SNAPSHOT (current commit at the time of writing)
* IntelliJ IDEA Ultimate IU-213.6777.52
* 7.3.3
* OpenJDK 17 64-Bit
* Normal, 1.6.10

# Reproduction

* Add mapping extension
* Press the go button
* Error

# Suggestions

* Just need to add JitPack to build script, or what eve

[2022-02-02 18:23] gdude2002 commented on #133
I've updated the README in the latest push. That's all there is to do on our end.

[2022-02-02 18:23] #133 closed, assigned to nobody

[2022-02-02 19:13] gdude2002 commented on #104
It's done - completely destroyed any usage of `+=` with strings in KordEx.

[2022-02-02 19:13] #104 closed, assigned to nobody

[2022-02-02 20:28] gdude2002 commented on #130
Done!

[2022-02-02 20:28] #130 closed, assigned to nobody

[2022-02-02 20:36] gdude2002 commented on #123
Because of how class instantiation order works, I don't think doing anything that relies on the order of instantiating the classes makes sense. However, reordering the declarations is also not going to happen - arguments are always parsed in precisely the order they're defined, which is something that's absolutely required for some use-cases.

The problem here is that there's really no good soluti

[2022-02-02 20:38] gdude2002 commented on #86
It's been a while since we've talked about this - what state is this ticket in regarding modern KordEx?

[2022-02-02 21:00] DRSchlaubi commented on #123
That makes no sense whatsoever, re-ordering like this would not affect anything, if the arguments are already ordered correctly, nothing would happen, if it's not the order is broken anyway, so there is no reason to preserve it, as you can't do anything with it.

But if you want to insist, that this order is hyper important, you can simply store arguments as an [IndexedValue](https://kotlinlang.or

[2022-02-02 21:04] gdude2002 commented on #123
[code]

A logical API is important, nobody is omnipotent - esp. not you or I.

Wouldn't that have the same problem?

[2022-02-02 21:10] DRSchlaubi commented on #123
And how does ordering break this API? If the order matches Discord requirements, it is the same order.

If it's not, we use the partition function to determine optional and non-optional arguments and simply move the required ones before the optional ones, so it only happens if it is really needed

Or simply add val autoSort: Boolean = false to the Arguments class and then only do exactly that if s

[2022-02-02 21:12] gdude2002 commented on #123
This is an unexpected behaviour for an otherwise straightforward and predictable API. Hidden gotchas like that are definitely not wise to include, IMO.

[2022-02-02 21:12] DRSchlaubi commented on #123
I don't see anything unpredictable making it opt-in only

[2022-02-02 21:13] gdude2002 commented on #123
Even then it's still kinda unpredictable, you're just allowed to turn the unpredictable feature on or off

[2022-02-02 21:26] DRSchlaubi commented on #123
That imo would be a worthy trade-off to work around this Discord restriction, if the functionality is properly documented

[2022-02-07 15:50] Syer10 opened #134 "EphemeralInteractionContext broken respondPublic extension function"
# Description

Inside com.kotlindiscord.kord.extensions.types.EphemeralInteractionContext.kt there is a extension function that extends PublicInteractionContext instead of EphemeralInteractionContext

# Versions

Kord-Extensions version 1.5.2-RC

# Media

<details>

![uF7AOrf 1](https://user-images.githubusercontent.com/6090655/152821920-b5eb40e2-7306-4fc7-9ae7-9f19c51d6eed.png)
</details>

[2022-02-07 21:33] gdude2002 commented on #134
Thanks, got it!

[2022-02-07 21:33] #134 closed, assigned to nobody

[2022-02-25 00:35] russellbanks opened #137 "Make enum choice converters act the same as regular enum converters in the context of chat commands"
# Summary

When using an enum choice converter on a chat command, it will result in an `java.lang.IllegalStateException: Choice converters may only be used with slash commands` error. In the use case of hybrid commands, it would beneficial to ensure that a hybrid command, utilising an enum choice, can work with a slash command whilst not failing as a chat command.

# Current Behaviour

Using an en

[2022-02-28 16:17] Galarzaa90 commented on #132
This is probably not "small", but something that would be really nice to have is command cooldowns and concurrency limits

[2022-03-07 14:48] Jamalam360 commented on #132
As said on Discord, I'd like a method on the `Scheduler` class to repeat a task every X Duration. E.g. `scheduler.repeat(3) { println ("hello") }` would print hello every 3 seconds until cancelled.

[2022-03-16 10:08] gdude2002 commented on #132
@Galarzaa90 Please see #27 and #36 - cooldowns would be great to have, but I can't wrap my head around an implementation for it, which is why it hasn't been done.

@Jamalam360 Added, see #140

[2022-03-16 10:12] gdude2002 commented on #137
I think we could probably fix up converters a bit like this - I agree that supporting both in the same converter is likely to be the best option.

I'm not sure whether I'll get a chance to work on this soon, however, so I'd suggest making use of the latest snapshot (`1.5.2-SNAPSHOT`) and using a regular enum converter with an autoComplete set up as a workaround temporarily.

[2022-03-16 12:42] Jamalam360 commented on #132
Thanks

[2022-04-11 10:08] gdude2002 commented on #86
Given that this issue has been abandoned since October of last year (despite being marked high priority) and I know that @ByteAlex has moved on to a custom framework written by @WinteryFox, I'm closing this issue now. If anyone would like to see further work on this subject, please open another issue!

[2022-04-11 10:08] #86 closed, assigned to gdude2002

[2022-04-11 10:09] gdude2002 commented on #115
Apparently I forgot to close this - whoops!

[2022-04-11 10:09] #115 closed, assigned to gdude2002

[2022-04-27 06:38] Stonedestroyer commented on #132
For check context some sort of isOwner check that gets application owner and if in a team all owners and passes check if it was the executer, also as application info is a rest some sort of cache or logic here.

NSFW check would also be cool built into check context.

[2022-04-27 11:28] Leo40Git opened #151 "Kord dependency can't be found"
Attempting to refresh a Gradle project that uses Kord Extensions causes this error:
[code]

[2022-04-27 11:28] gdude2002 commented on #151
You don't have Kord's maven repository in your build script.

[2022-04-27 11:28] Leo40Git opened #152 "Discord invite in README is expired"

[2022-04-27 11:29] Leo40Git commented on #151
Oh, oops. Will add that and try again.

[2022-04-27 11:39] Leo40Git commented on #151
Works now!

[2022-04-27 11:39] #151 closed, assigned to nobody

[2022-05-04 12:50] Stonedestroyer commented on #132
A way to handle unknown components, can be useful if bot restarts and user is not hit with application did not respond error but ephemeral message explaining what happened.

[2022-05-07 11:49] Stonedestroyer commented on #132
A way to have default paginator accept a default check or some boolean that allows sending a response to non-authorized users of the paginator that this can not be used for them for UX purposes.

[2022-05-10 18:39] Galarzaa90 opened #156 "Add minValue and maxValue to int/decimal argument converters"
# Summary

Add `minValue` and `maxValue` options to t`IntConverterBuilder` and `DecimalConverterBuilder` and derivatives.

They are defined here in the documentation: https://discord.com/developers/docs/interactions/application-commands#application-command-object-application-command-option-structure

And they were added to Kord since: https://github.com/kordlib/kord/commit/4a73bfa2146df3980a4cf6c0

[2022-05-21 21:02] zxcqirara opened #158 "Throws exception, when using translated slash subcommands"
# Description

I registered slash **sub**command (eg `/remind list`), but when I used it, bot throwed exception (with translated slash commands works fine)

Exception log:
[code]

# Versions

* `kord-core` 0.8.0-M14
* `kord-extensions` 1.5.4-SNAPSHOT
* Gradle 7.4.2
* JDK 17.0.2
* Kotlin 1.6.20

# Code Examples

Not working cmd:
[code]

Working cmd:
[code]

strings.properties
[code]

[2022-05-22 14:19] gdude2002 commented on #158
Thanks for that - as this snapshot isn't quite ready for release, I'm taking the opportunity to overhaul how the modules are tested. Once I've done that, I'll get to this!

[2022-05-22 14:20] gdude2002 commented on #152
Had to remove it due to a raid. Use the one on the wiki instead.

[2022-05-22 16:31] Leo40Git commented on #152
Understood.

[2022-05-22 16:32] gdude2002 commented on #152
I didn't say I wouldn't update the README!

[2022-06-16 10:45] NoComment1105 opened #160 "Phishing check errors in DMs"
# Description

Provide a detailed description of the problem here. Some questions you can
ask yourself are:

* What were you doing when you first noticed the problem?
1. An error popped up on our sentry log, relating to class cast exceptions of DMChannel -> GuildChannel failing
2. A NullPointerException throws when a known phishing domain is sent in DMs.
The above are seperate errors.

# Versions

[2022-06-18 12:35] gdude2002 commented on #158
I've had a look at this with my own translations. I am unable to reproduce this [with our simple test extension](https://github.com/Kord-Extensions/kord-extensions/blob/develop/test-bot/src/main/kotlin/com/kotlindiscord/kord/extensions/testbot/extensions/I18nTestExtension.kt).

It might be worth removing the spaces either sides of the `=` in your properties file, but honestly, I'm not sure how to

[2022-06-18 12:46] gdude2002 commented on #152
This was updated in develop some time ago apparently

[2022-06-18 12:46] #152 closed, assigned to nobody

[2022-06-18 12:49] NoComment1105 commented on #160
On top of the above listed errors, another one has arisen:
[code]

[2022-06-18 13:07] gdude2002 commented on #160
That's a HTTP 500 from the URL being checked and has nothing to do with us.

[2022-06-18 13:14] gdude2002 commented on #156
This has been added, but could do with some gentle poking - please verify.

[2022-06-18 13:22] gdude2002 commented on #160
This should be solved, I think - please confirm at some point.

[2022-06-18 13:23] NoComment1105 commented on #160
Ah, alright!

I'll update our dependency later and see if comes up 👍🏼

[2022-06-18 13:24] gdude2002 commented on #160
The solution was just to fix existing checks by the way, it should never have triggered in a DM

[2022-06-18 13:26] NoComment1105 commented on #160
👍🏼 I saw the commit. I'll check later

[2022-07-03 09:24] NoComment1105 commented on #160
Seems to be fix, thanks for the work 👍🏼

[2022-07-03 09:24] #160 closed, assigned to nobody

[2022-07-07 00:22] DRSchlaubi commented on #158
Your test extension doesn't translate sub command names.

The issue is that locally the bot knows the command as <translation key> but discord knows it as <translation>

Root commands don't have that issue, as they use IDs rather than names

[2022-07-07 00:31] NyCodeGHG commented on #158
The problem here is, the translation keys in the test bot are the same as the translation, so the issue does not happen here

[2022-07-07 14:53] gdude2002 commented on #158
Your observations are correct with the default Discord client, but do not match what I observed while I was using the slash command localization build override that Discord supplies. This build override has now expired, however, so we're stuck for the moment.

[2022-07-07 14:54] gdude2002 commented on #158
![image](https://user-images.githubusercontent.com/204153/177804529-64c51004-16ff-4750-a134-bed864ac2c1a.png)

Here's an image provided by a Chinese user during testing.

[2022-07-07 15:17] DRSchlaubi commented on #158
Your observations are still inaccurate, as Discord only sends the "default locale name" and your example shows the same key as value, whether they differ in other languages is irrelevant, try using the same bundle we used in #162

[2022-07-07 16:13] gdude2002 commented on #158
I've merged the PR - is that the last thing this issue needs?

[2022-07-07 16:15] DRSchlaubi commented on #158
it should be

[2022-07-07 16:15] gdude2002 commented on #158
Sounds good, then - feel free to drop a comment to reopen if needed!

[2022-07-07 16:15] #158 closed, assigned to gdude2002

[2022-07-08 02:57] doublemoon1119 opened #165 "UninitializedPropertyAccessException when using group function of Paginator"
# Description

- I'm using group function of Paginator.

Exception log:
[code]

# Versions

- KordEx: 1.5.4-SNAPSHOT

# Suggestions

I think that's the problem

https://github.com/Kord-Extensions/kord-extensions/blob/254cc238264bd4c257b433d5648c0fba32a3e09a/kord-extensions/src/main/kotlin/com/kotlindiscord/kord/extensions/pagination/pages/Page.kt#L63

https://github.com/Kord-Extensions/kord-extens

[2022-07-08 09:34] gdude2002 commented on #165
You are correct - I've just pushed a fix for this, and it'll be available in the latest snapshot shortly. Thanks!

[2022-07-08 09:34] #165 closed, assigned to gdude2002

[2022-07-08 17:57] Galarzaa90 commented on #156
Everything seems to be working fine 👍🏼

[2022-07-08 18:10] gdude2002 commented on #156
Thanks for the confirmation o7

[2022-07-08 18:10] #156 closed, assigned to gdude2002

[2022-07-20 19:16] Galarzaa90 commented on #132
Exposing `appPermissions` on command contexts? This is really useful because these permissions are already solved with channel overwrites and all that, so seems like an easy way to get bot permissions.

They can already be obtained from `event.interaction.data.appPermissions`, but exposing them on the command context would be nice.

Reference: https://discord.com/developers/docs/interactions/recei

[2022-07-21 13:06] gdude2002 commented on #132
Convenience access to `appPermissions` and channel/guild NSFW checks have been pushed and will be available shortly. The push also includes an `or { }` block you can use in your checks.

[2022-07-21 22:00] GreemDev opened #167 "Suggestion: Event cache"
# Summary

The idea here is to provide a data object to an arbitrary event KordEx receives when dispatched.

# Current Behaviour

None, potential workaround could entail some sort of weird map cache that holds the objects via an ID? but that ID wouldn't be very intuitive. Haven't ever tried it, just thought it might be possible when writing this.

# Preferred Behaviour

New class, `EventCache`, fo

[2022-07-22 16:56] gdude2002 commented on #167
Pushed in https://github.com/Kord-Extensions/kord-extensions/commit/a8eeca528172d4ccf9954ca1c918480d82694de6

* Checks and action blocks for commands, components and events will have a `cache` MutableMap with string keys and non-nullable values
* All maps with non-nullable values now have extra `.getOf`, `.getOfOrNull` and `.getOfOrDefault` convenience functions for casting

See what you think!

[2022-07-22 19:13] GreemDev commented on #167
Looks good to me. Thanks!

[2022-07-22 19:13] #167 closed, assigned to gdude2002

[2022-07-23 16:30] mooziii opened #168 "paginator gives wrong error message when no pages are added"
# Description

Whenever I try to create a paginator without a page I get an exception saying `No such group: tags` but it should be `Empty paginators aren't allowed' or something similar

### What were you doing when you first noticed the problem?
**➜ I tried to send a paginator as command interaction response without any page in it**
### How does the problem affect your use-case?
**➜ It gave me t

[2022-07-24 15:33] gdude2002 commented on #168
This has been fixed in https://github.com/Kord-Extensions/kord-extensions/commit/1d683d2ce46bc8d1e948964ae66582696d280b7d - please note that I've also pushed a dependency on the Kord Voice capability in https://github.com/Kord-Extensions/kord-extensions/commit/f78b64d54f882c835a822a8b56671125d2b3a1ac, so you should remove your explicit dependency on Kord (and the voice capability) entirely.

[2022-07-24 15:33] #168 closed, assigned to gdude2002

[2022-08-03 16:24] Cypher121 opened #169 "Argument converters fail to read arguments with capital letters in the name"
# Description

Argument converters like `stringChoice` allow using a capitalized argument name for the `name` attribute. However when using a command with such an argument, the value is not read correctly, either using the default, if one exists, or showing an error (`Invalid value for argument Choice (which accepts: text)`)

# Versions

Latest KordEx snapshot at 1.5.5-SNAPSHOT

# Code Examples

[

[2022-08-03 17:40] SilverAndro opened #170 "`PKMessageCreateEvent` occasionally fires twice due to low delay with slower PK times"
# Description
The PKMessageCreateEvent occasionally fires twice due to low delay and/or slower PK times

# Reproduction
Inconsistent due to factors outside of a testing environment's control

# Suggestions

Additionally, switching the logic to watching for a new, proxied message rather than the deletion of the old one may improve detection, as PK will not delete the message until it knows that a p

[2022-08-04 15:08] gdude2002 commented on #169
Discord is fairly inconsistent with its support for capitalization, and I don't think a simple case check is sufficient because of i18n. It's true that this should be better telegraphed somehow, but I'm not 100% sure what the best way to do that is.

[2022-08-04 15:09] gdude2002 commented on #170
How do you propose this should work? I don't really see it changing too much, given that you can't take back an event, and we'd still need to wait for that message to appear.

[2022-08-04 15:18] SilverAndro commented on #170
I don't believe it would completely solve it, but watching for a new one instead would reduce the amount of time until a proxy is "finished" which would hopefully bring down the average time to wait, since youre cutting out waiting for another interaction from PK after the proxied version is sent.

Basically I'm not aware of anything particularly special about the deletion other than being a last

[2022-08-04 22:23] GreemDev opened #171 "Incorrect argument passed into call to ResourceBundle.getBundle in ResourceBundleTranslations"
# Description
If you take a look [here](https://github.com/Kord-Extensions/kord-extensions/blob/develop/kord-extensions/src/main/kotlin/com/kotlindiscord/kord/extensions/i18n/ResourceBundleTranslations.kt#L59), you'll see that in the call to `ResourceBundle.getBundle`, the singleton object of `Control` is passed as the third argument, rather than the variable defined by the argument `control` in t

[2022-08-06 11:10] gdude2002 commented on #170
For the time being, I'm just going to add one second to the delays, since I can't really motivate myself to rewrite this thing at the moment

[2022-08-06 12:44] SilverAndro commented on #170
Fair enough

[2022-08-06 13:05] #171 closed, assigned to gdude2002

[2022-08-06 13:06] gdude2002 commented on #170
That should be in the latest push, which will be available in around 15 minutes.

[2022-08-09 16:51] SilverAndro commented on #170
Yep seems to work, thanks much

[2022-08-09 16:51] #170 closed, assigned to gdude2002

[2022-08-13 11:02] NoComment1105 opened #173 "UnProxiedMessageDeleteEvent throws ClientRequestException on message delete"
# Description

When an unproxied message is deleted, the PluralKit module appears to search the PluralKit API for said message, and throws a `ClientRequestException` when it's not found.

# Reproduction

Make use of the `UnProxiedMessageDeleteEvent`

# Code Examples

[code]

# Media

![image](https://user-images.githubusercontent.com/67918617/184480618-52b52287-d7ef-4c2b-a1c8-1309cfca1129.png)

[2022-08-16 16:12] Stonedestroyer commented on #132
A way to differentiate members in the guild with users supplied outside the guild.

Currently optionalMember returns both null for both user outside guild supplied and no arguments supplied. Considering Discord only supplies a USER object and does not tell you if a MEMBER was in the guild.

Use-case:
Let's say you have a bank command and you wish to give user an error that this user is not in the

[2022-08-17 19:25] Galarzaa90 opened #174 "Global commands not setting `dm_permission` property"
# Description

The property `allowInDms` for slash commands is not being used when registering the commands to Discord, resulting in the commands being visible in DMs.

# Versions

kordex-1.5.5-SNAPSHOT

# Reproduction

[code]

The command will still be available in private messages.

# Suggestions

This is the part that is registering each command: https://github.com/Kord-Extensions/kord-extensio

[2022-08-19 09:52] gdude2002 commented on #132
I've given a shot at this, but I think it needs some testing. You'll have to let me know how it goes. It'll be up in about 15 mins or so.

[2022-08-23 14:23] Galarzaa90 commented on #174
This was fixed in #175

[2022-08-23 14:23] #174 closed, assigned to nobody

[2022-08-23 20:33] Galarzaa90 commented on #132
Just like `Extension` has a `allowApplicationCommandInDMs` property. Maybe a nullable `defaultGuildId` (or a better name) property to make all commands in an extension be guild commands by default?

Could be useful for Extensions for specific guilds.

[2022-08-25 01:30] Doomsdayrs opened #176 "EmojiConverter will crash with a normal emoji"
# Description

[Line 79](https://github.com/Kord-Extensions/kord-extensions/blob/298eeadb3a1bba500b7e70714365b4715fcf36f6/kord-extensions/src/main/kotlin/com/kotlindiscord/kord/extensions/commands/converters/impl/EmojiConverter.kt#L79) of EmojiConverter causes a crash.

[2022-08-25 09:06] gdude2002 commented on #176
This issue doesn't have close to enough information. What version of KordEx are you using? What exception is being thrown? Can you provide logs or more context?

[2022-08-25 09:10] gdude2002 commented on #132
Is this a simple suggestion, or is there a use-case you have in mind?

[2022-08-25 14:57] Galarzaa90 commented on #132
I think both. In my case, I have all global commands, but I have this Extension for staff related commands, and these are guild commands in our support server. So each command here has `guildId` set. I also plan on adding another extension for a big community my bot is in, for some special commands.

So of course it is easy to just have the snowflake as a local variable in the extension and then u

[2022-08-25 18:31] Doomsdayrs commented on #176
I just use `+`, so latest. Asides the link is right from the latest git.

NoSuchElementException

[code]

[2022-08-25 23:07] GrowlyX opened #178 "ExtensibleBot#setup trying to use non-existent method"
# Description
When using kord-extensions with the latest kord-core `0.8.0-M16` version, an error is thrown when then `ExtensibleBot#start` or `ExtensibleBot#startAsync` function is called. (Internally, these functions call the `setup` function which is where this exception is being thrown)

The stack trace for this exception can be viewed here:
https://pastes.dev/8Se2Xmlv3L

# Versions

My `build.

[2022-08-26 13:28] gdude2002 commented on #178
You're very out of date - remove your dependency on Kord, and switch to KordEx `1.5.5-SNAPSHOT`.

I'm working on Forms at the moment, which will take a while, but I may be able to put out a release targeting `M16` later. For now, KordEx depends on Kord `0.8.x-SNAPSHOT`.

[2022-08-26 13:28] #178 closed, assigned to nobody

[2022-08-26 15:02] Tmpod opened #180 "Component callbacks do not work properly"
# Description

If you register a component callback with the Koin-provided `ComponentCallbackRegistry`, components are not registered using the given `id` string, and request's `custom_id` field is populated with a UUID, as seen in the following log sample:

[code]

This results in a message like `Button interaction received for unknown component ID: b7bba28d-c137-46bc-a26a-b438834a335e` each time

[2022-08-26 15:11] Tmpod commented on #180
missing a space there ;)

[2022-08-26 16:07] gdude2002 commented on #176
Thanks for the PR!

[2022-08-26 16:07] #176 closed, assigned to nobody

[2022-08-26 19:04] GrowlyX commented on #178
Cool thanks, figured there was some new version. Initially, I just used the release version 1.5.2 listed in the README but I'll try 1.5.5 out.

[2022-09-07 22:38] Galarzaa90 commented on #132
A `translate` overload for `ValidationContext` without `bundle` parameter, to use `defaultBundle` without needing to pass it.

Just like: `CommandContext.translate` has this overload.

[2022-09-12 18:22] NoComment1105 opened #186 "ext-pluralkit: If the `Manage Webhook` permission is missing, the exception should be caught or handled"
# Description
After integrating the `ext-pluralkit` module into our bot recently, our logs are now littered with hundreds of `KtorRequestExceptions` due to the `Manage Webhook` permissions missing in some servers.

# Reproduction
Send a message with the `ext-pluralkit` being used and `Manage Webhooks` disallowed for the bot

The ideal fix would be catching these, logging under debug or trace, or s

[2022-09-23 20:46] zt64 opened #190 "Emoji converter doesn't work with custom emojis"
# Description

Emoji converter throws not found error for all custom emojis.

![image](https://user-images.githubusercontent.com/31907977/192053795-cd65dfeb-6e8f-4eba-a736-bb25d4b6f5a7.png)

# Versions

Kord Extensions: 1.5.5-SNAPSHOT

# Reproduction

[code]

[2022-09-25 09:03] gdude2002 commented on #190
The code appears as if it should work as intended, but I can see Kord's caching potentially getting in the way. Still, please check the following:

* That you have the necessary intents to see guild emoji
* That you're using an emoji that exists on a guild the bot is present on
* If that doesn't help, that the bot has permission to manage emojis on the server

If none of these things help, report

[2022-09-25 09:04] gdude2002 commented on #186
I was hoping you'd have actually provided one of these exceptions?

[2022-09-25 09:18] gdude2002 commented on #180
Having looked at the code, I see no reason for this to happen - buttons registered with a callback via `useCallback` simply have their action set as they normally would do, it's just that the `action` and `check` blocks attempt to grab the callback and use it.

If you have time, can you throw a debugger at this and check that the components are being registered in the component registry? They defi

[2022-09-25 09:23] gdude2002 commented on #173
Not a bug per se, I checked the code and everything is being handled correctly. What's happening here is that the `getMessage` function is logging the exception, but this function isn't used directly by the extension - it's called by `getMessageOrNull`, which is not currently capable of swallowing the log message.

I think this is probably just how it's going to have to be for the time being, as f

[2022-09-25 09:23] #173 closed, assigned to nobody

[2022-09-25 11:59] NoComment1105 commented on #186
It's easily reproducible, I figured you'd be capable.

[2022-09-25 15:22] NoComment1105 commented on #186
[code]
Here is your exception information. As previously detailed, send a message with PK, when the bot does not have the manage webhooks permission

[2022-09-25 19:36] zt64 commented on #190
Turns out adding the `Intent.GuildEmojis` fixed it. Maybe there should be documentation added to the emoji that says it will need that intent.

[2022-09-25 22:34] Tmpod commented on #180
Right, but the thing is that the "grabbing" of such callback is only done by
the unique interaction ID, instead of the `custom_id` field, which I'd assume
is what should be used here?

I will do that sometime this week, but like, does this work for you? Can
anybody else reproduce this behaviour?

[2022-10-02 18:01] Tmpod commented on #180
Right, but that isn't the issue. The issue is that the component isn't even invoked because it's supposedly "unknown", and that happens because you only check for the unique ID and not for the custom ID (which is what allows cross-session components to work). See [this](https://github.com/Kord-Extensions/kord-extensions/blob/f0334b7025d23874b37b2f9c82a1b12eb57efb0d/kord-extensions/src/main/kotlin/